

html, body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Crimson Pro', serif;
    font-weight: 800;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
}

.section-title {
    font-size: 3.5rem;
    margin: 0;
}

/*Navigation*/
nav {
    background-color: #000;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-container ul {
    list-style-type: none;
}

.nav-container li {
    float: left;
}

.nav-container a {
    display: block;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

/*Hero*/
#profile-pic {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: auto;
    border: 2px solid #000;
}

header {
    padding: 3rem;
    height: 100%;
    /*position: relative;*/
}

/*About*/
#home-about {
    background-color: #740001;
    color: #fff;
    padding: 6rem 2rem;
}

/*Book Carousel*/
#home-books {
    padding: 3rem;
}

.book-slider {
    display: flex;
    overflow-x: scroll;
    margin: 0 -1rem;
    scroll-snap-type: x mandatory;
}

.book {
    scroll-snap-align: center;
    flex: 1 1 40vw;
    display: flex;
    flex-direction: column;
    min-width: 20vw;
}

.book + .book {
    margin-left: 1.5rem;
}

.book-image {
    width: 100%;
}

.book-image img {
    display: block;
    width: 100%;
    height: auto;
}

/* Large devices (desktops, 992px and smaller) */
@media (max-width: 992px) { .book { min-width: 35vw; } }

/* Small devices (landscape phones, 576px and smaller) */
@media (max-width: 576px) { .book { min-width: 333px; } }

/*Titles*/
#home-titles {
    padding: 6rem 0;
}

.title-card-container {
    padding: 3rem 0;
}

.title-card {
    width: 75%;
    margin: auto;
    box-shadow: 0px 0 10px 1px rgb(0 0 0 / 20%);
}

.title-card__content {
    padding: .5rem;
}

.title-card__header {
    text-transform: uppercase;
    font-family: 'Crimson Pro', serif;
    font-size: 1.125rem;
    font-weight: bold;
}

.title-card__meta {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.title-card__img {
    width: 100%;
}

.title-card__img img {
    display: flex;
    width: 100%;
    height: auto;
}

/* Small devices (landscape phones, 576px and smaller) */
@media (max-width: 576px) { .title-card { min-width: 75vw; } }

/*Footer*/
footer {
    background-color: #000;
    padding: 3rem;
}

footer a {
    color: #fff;
}

h4 {
    font-size: 1.5rem;
}

.footer-content {
    color: #fff;
}
